.control-panel-wrapper {
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-family: "FiraMono";
    font-size: 13px;
    -webkit-transform-style: preserve-3d;

    @include flexbox();
    @include flex-direction(row);
    @include align-content(center);
    @include justify-content(center);

    & > div {
        position: relative;
        margin: 0 10px 0 10px;

        .standard-overlay {
            position: absolute;
            bottom: 76px;
            width: 350px;

            // TODO: Replace webkit transform with a vendor specifi mixin!!
            -webkit-transform: translate3d(0px, 0px, 0px);
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            z-index: 0;

            &.overlay-left {
                left: 0px;

                &.hidden {
                    -webkit-transform: translate3d(280%, 0px, 0px);
                }
            }

            &.overlay-right {
                right: 0px;

                &.hidden {
                    -webkit-transform: translate3d(-280%, 0px, 0px);
                }
            }
        }

        .overlay-element {
            background-color: $colorWhite;
            border: $colorBlue solid $widthBorder;
            margin-top: 6px;
            padding: 8px;
            color: $colorBlue;
            max-height: 300px;

            &.overlay-search-selector {
                width: 50%;
                height: 100px;
                text-align: center;

                &.selected {
                    background-color: $colorRed;
                    border-color: $colorRed;
                    color: $colorBlue;

                    input {
                        color: $colorWhite;
                    }

                    @include placeholderColor($colorBlue);
                }

                input {
                    text-align: center;
                    width: 98%;
                    height: 98%;
                    background-color: transparent;
                }

                div {
                    @include disableUserSelect;
                    cursor: default;
                    margin-top: 40px;
                }
            }
        }

        .overlay-group-column {
            @include flexbox;
            @include flex-direction(column);

            .overlay-element {
                margin-top: 6px;
            }
        }

        .overlay-group-row {
            @include flexbox;
            @include flex-direction(row);

            .overlay-element {
                margin-left: 6px;
            }
        }
    }

    button {
        @include appearanceReset();
        font-family: "FiraMono";
        width: 100px;
        height: 70px;

        &.standard-button {
            z-index: 1;
            background-color: $colorRed;
            color: $colorBlue;
            border: $widthBorder solid $colorRed;
            -webkit-transition: -webkit-transform 0.03s ease-out;

            &:active {
                -webkit-transform: scale3d(0.96,0.96,0.96);
            }

            &.active {
                // background-color: $colorBlack;
                border-color: $colorBlue;
                // color: $colorWhite;
            }

            &.label-left {
                padding-left: 20px;
                text-align: left;
            }

            &.label-right {
                padding-right: 20px;
                text-align: right;
            }
        }

        &.alternative-button {
            background-color: $colorBlue;
            color: $colorRed;
            border: $widthBorder solid $colorBlue;

            &:active{
                -webkit-transform: scale3d(0.96,0.96,0.96);
            }
        }
    }

    input {
        @include appearanceReset;
        background-color: $colorWhite;
        color: $colorBlack;
        font-family: "FiraMono";
        font-size: 13px;

        &.input-share {
            width: 270px;
        }
    }

    textarea {
        background-color: $colorWhite;
        width: 98%;
        font-family: "FiraMono";
        font-size: 13px;
        line-height: 13px;
        height: 150px;
    }

    .knob {
        position: absolute;
        bottom: -16px;
        left: 55px;
        z-index: 100;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $colorBlue;

        -webkit-transform: rotate(-40deg);
                transform: rotate(-40deg);

        &.with-transition {
            -webkit-transition: -webkit-transform 0.1s ease-in-out;
                    transition: transform 0.1s ease-in-out;
        }

        .knob-indicator {
            position: absolute;
            left: 47px;
            top: 5px;
            width: 5px;
            height: 20px;
            background-color: $colorWhite;
        }
    }

    .control-depth-wrapper {

        .depth-indicator {
            @include flexbox;
            @include flex-direction(row);
            @include align-content(center);
            @include justify-content(center);
            width: 100%;
            position: absolute;
            top: -35px;

            .depth-indicator-step {
                width: 12px;
                height: 12px;
                margin: 0 4px 0 4px;
                background-color: $colorBlue;
                border: 2px solid $colorBlue;

                &.active {
                    background-color: $colorRed;
                    border: 2px solid $colorRed;
                }
            }
        }
    }
}
