/**
 * STANDARD ELEMENTS
 */
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body,
.container,
#search {
    width: inherit;
    height: inherit;
}

// Fonts
@font-face {
    font-family: 'FiraMono';
    src: url('./fonts/FiraMono-Regular.woff') format('woff'),
         url('./fonts/FiraMono-Regular.ttf') format('truetype'),
         url('./fontsFiraMono-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

// Appearance
@mixin appearanceReset {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: none;
}

@mixin appearanceNone {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

@mixin disableUserSelect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

// Elements
textarea {
    @include appearanceReset;
    resize: none;
}

@include placeholderColor($colorBlack);

#loading-animation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    img {
        background-color: transparent;
        width: 50%;
    }
}

#dummyInput {
    z-index: 10000;
}

button {
    @include appearanceReset();
    font-family: "FiraMono";
    width: 100px;
    height: 70px;

    &.back-button,
    &.more-button {
        &:active {
            -webkit-transform: scale3d(0.96,0.96,0.96);
        }
    }

    &.back-button {
        z-index: 1;
        background-color: $colorMain;
        color: $colorBlack;
        border: $widthBorder solid $colorBlack;
        -webkit-transition: -webkit-transform 0.03s ease-out;
    }

    &.more-button {
        position: absolute;
        top: 0px;
        left: 10px;
        z-index: 1;
        background-color: $colorMain;
        color: $colorBlack;
        border: $widthBorder solid $colorBlack;
        -webkit-transition: -webkit-transform 0.03s ease-out, opacity 0.05s linear;
        opacity: 0;

    }
}

h4,
h5 {
    padding: 10px 0px;
    font-family: "FiraMono";
    margin: 12px 0px 8px 0px;   
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}
