@import "variables";
@import "flexbox-mixins";
@import "mixins";
@import "reset";
@import "index";
@import "control-panel";
@import "nodeSection";
@import "meta";

.beta-hint-section {
  color: $colorRed;
  position: absolute;
  left: 10%;
  top: 10%;
}
