.meta-view {

    button {
        @include appearanceReset();
        font-family: "FiraMono";
        width: 100px;
        height: 70px;

        &.back-button {
            z-index: 1;
            background-color: $colorMain;
            color: $colorBlack;
            border: $widthBorder solid $colorBlack;
            -webkit-transition: -webkit-transform 0.03s ease-out;

            &:active {
                -webkit-transform: scale3d(0.96,0.96,0.96);
            }

            &.active {
                background-color: $colorBlack;
                border-color: $colorMain;
                color: $colorWhite;
            }
        }
    }
}