.nodeSection {
    height: 80%;
    width: 90%;
    position: absolute;
    left: 4%;

    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);

    .nodeWrapper {
        position: relative;
        height: 100%;
        width: 20%;

        .nodeElement {
            position: absolute;
            width: 125%;
            height: 35%;
            background-color: yellow;
        }

        &:nth-child(1) {
            .nodeElement {
                top: 8%;

                &:before {
                    content: "1";
                }
            }
        }
        &:nth-child(2) {
            .nodeElement {
                top: 45%;

                &:before {
                    content: "2";
                }
            }
        }
        &:nth-child(3) {
            .nodeElement {
                top: 5%;

                &:before {
                    content: "3";
                }
            }
        }
        &:nth-child(4) {
            .nodeElement {
                top: 32%;

                &:before {
                    content: "4";
                }
            }
        }
        &:nth-child(5) {
            .nodeElement {
                top: 60%;

                &:before {
                    content: "5";
                }
            }
        }
    }
}