.nodeSection {
    height: 80%;
    width: 90%;
    position: absolute;
    left: 4%;

    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);

    .nodeWrapper {
        position: relative;
        height: 100%;
        width: 20%;

        &:hover {

            button.more-button {
                opacity: 1;
            }
        }

        .nodeElement {
            position: absolute;
            max-width: 125%;
            height: 45%;

            .flexWrapperColumn {
                @include flexbox;
                @include flex-direction(column);
                @include align-items(flex-start);
                @include justify-content(center);

                max-height: 100%;
                max-width: 100%;
                
                img.thumbnail {
                    max-height: 90%;
                    max-width: 90%;
                }

                p:not(:first-child) {
                    padding: 5px 0 0 0;

                    &.person-title {
                        text-align: left;
                        padding: 3px 0 0 0;
                    }
                    &.person-birthdate,
                    &.person-deathdate {
                        &:before {

                        }
                    }

                    &.person-birthdate {
                        &:before {
                            content: "✵";
                        }   
                    }
                    &.person-deathdate {
                        &:before {
                            content: "✟";
                        } 
                    }
                    &.node-subtitle {
                        padding: 1px 0 0 0;
                    }
                }    
            }

            .tagcloud {
                font-size: 10px;
            }

            &:before {
                font-family: "FiraMono";
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                left: -10px;
                top: 1px;
            }

            &.moreIsShown {
                visibility: hidden;

                // Still showing the ::before element, which shows the search thread's number
                &::before {
                    visibility: visible;
                }
            }
        }

        .moreWiki {
            width: 100%;
            height: 90%;
            background-color: $colorMain;
            border: 4px solid $colorBlack;
            position: absolute;
            top: 20px;
            z-index: 100;
            font-family: "FiraMono";
            font-size: 12px;
            padding: 10px;

            display: none;

            &.moreIsShown {
                display: block;
            }
        }

        &:nth-child(1) {
            .nodeElement {
                top: 8%;

                &:before {
                    content: "1";
                }
            }
        }
        &:nth-child(2) {
            .nodeElement {
                top: 45%;

                &:before {
                    content: "2";
                }
            }
        }
        &:nth-child(3) {
            .nodeElement {
                top: 5%;

                &:before {
                    content: "3";
                }
            }
        }
        &:nth-child(4) {
            .nodeElement {
                top: 32%;

                &:before {
                    content: "4";
                }
            }
        }
        &:nth-child(5) {
            .nodeElement {
                top: 60%;

                &:before {
                    content: "5";
                }
            }
        }
    }
}