<section class="control-panel">
    <div class="control-panel-wrapper">
        <div id="control-search">
            <button id="button-search" class="standard-button restart" ng-click="searchButtonClick($event); standardButtonClick($event);">RESTART</button>
            <div id="search-overlay" class="standard-overlay overlay-right overlay-group-row hidden">
                <div class="overlay-element overlay-search-selector random-search-overlay" ng-click="selectSearchStyle($event)">
                    <div >START RANDOM SEARCH</div>
                </div>
                <div class="overlay-element overlay-search-selector search-search-overlay" ng-click="selectSearchStyle($event)">
                    <input ng-model="searchTerm.value" type="text" class="searchTerm" placeholder="TYPE A WORD" ng-value="searchTerm.value">
                </div>
            </div>
        </div>

        <div id="control-meta">
            <button class="alternative-button" ng-click="openMetaView()">META</button>
        </div>

        <div id="control-depth">
            <div class="control-depth-wrapper">
                <div class="depth-indicator">
                    <div class="depth-indicator-step active"></div>
                    <div class="depth-indicator-step"></div>
                    <div class="depth-indicator-step"></div>
                    <div class="depth-indicator-step"></div>
                    <div class="depth-indicator-step"></div>
                </div>
                <div>
                    <button id="button-minus" class="standard-button label-left" ng-click="decreaseSearchDepth()">-</button>
                    <div class="knob">
                        <div class="knob-indicator"></div>
                    </div>
                    <button id="button-plus" class="standard-button label-right" ng-click="increaseSearchDepth()">+</button>
                </div>
            </div>
        </div>

        <div id="control-share">
            <button id="button-share" class="standard-button share" ng-click="standardButtonClick($event)">SHARE</button>
            <div id="share-overlay" class="standard-overlay overlay-left overlay-group-column hidden">
                <div class="overlay-element">
                    <label>TO: </label>
                    <input ng-model="share.sendTo" type="text" value="{{share}}" class="input-share">
                </div>
                <div class="overlay-element">
                    <label>FROM: </label>
                    <input ng-model="share.sendFrom" type="text" value="{{share}}" class="input-share">
                </div>
                <div class="overlay-element">
                    <label>ADDITIONAL TEXT:</label><br/>
                    <textarea ng-model="share.additionalText" name="" id="" value="{{share}}"></textarea>
                </div>
                <button class="standard-button overlay-element" ng-click="sendMail()">SEND</button>
            </div>
        </div>

        <div id="control-help">
            <button id="button-help" class="standard-button" ng-click="standardButtonClick($event)">HELP</button>
            <div id="help-overlay" class="standard-overlay overlay-left overlay-element hidden">
                Mnemosyne ist eine alternative Archiv-Suchmaschine, mit der das St&ouml;bern durch Datens&auml;tze m&ouml;glich ist. Die Suche ergibt nicht eine un&uuml;berschaubare Masse an Ergebnissen sondern eine Collage mit 5 Informationen (Text/Bild). 

                Die Ergebnisse  werden &uuml;ber weiterf&uuml;hrende Suchen der mit einem Suchbegriff verkn&uuml;pften Daten ermittelt. Es ist m&ouml;glich einzustellen, über wie viele Ecken die Ergebnisse ermittelt werden. So kann die Suche im Archiv verschieden weit gestreut werden. Unser Anliegen ist es, den Nutzer m&ouml;glichst weit vom Suchbegriff wegzuf&uuml;hren, um ihn unbekannten &amp; unerwarteten Informationen zu zeigen. 
                Durch die Pr&auml;sentationsform der Collage wird ein Raum für Interpretationsm&ouml;glichkeiten geschaffen. Zus&auml;tzlich gibt es eine Meta-Ebenenansicht, welche die Prozesse des Programms sichtbar und die Entstehung der Collage nachvollziehbar machen.
                Klicke auf Restart und beginne eine neue Suche.

            </div>
        </div>
    </div>
</section>
