<div>
    <div ng-if="outcome.thumbnail !== undefined" class="flexWrapperColumn">
        <img src="{{outcome.thumbnail}}" alt="{{outcome.title}}" class="thumbnail">
    </div>

    <div class="flexWrapperColumn">
        <p class="person-title">{{outcome.title}}</p>
        <p ng-if="outcome.dateOfBirth !== undefined && outcome.dateOfDeath !== undefined">({{outcome.dateOfBirth}} - {{outcome.dateOfDeath}})</p>
        <p ng-if="outcome.dateOfDeath === undefined && outcome.dateOfBirth !== undefined">* {{outcome.dateOfDeath}}</p>
        <p ng-if="outcome.dateOfDeath !== undefined && outcome.dateOfBirth === undefined">* {{outcome.dateOfBirth}}</p>
    </div>

    <div ng-if="outcome.variantName.length >= 5" class="tagcloud">
        <div ng-repeat="name in outcome.variantName">{{name}}</div>
    </div>
</div>