<section id="search" ng-controller="SearchCtrl">
    <div id="loading-animation" style="display:none;">
        <img src="images/loading02.gif" alt="Loading...">
    </div>
    <section class="noResultSection" ng-hide="hasResults">
        <p class="noResultDescription">
            Leider ist diese Suche fehlgeschlagen
        </p>
        <img src="images/noResult.png" alt="no Result" class="noResultImage"/>
    </section>
    <section class="nodeSection">
        <div class="nodeWrapper">
            <more-element result="result1"></more-element>
            <node-element result="result1"></node-element>
        </div>
        <div class="nodeWrapper">
            <more-element result="result2"></more-element>
            <node-element result="result2"></node-element>
        </div>
        <div class="nodeWrapper">
            <more-element result="result3"></more-element>
            <node-element result="result3"></node-element>
        </div>
        <div class="nodeWrapper">
            <more-element result="result4"></more-element>
            <node-element result="result4"></node-element>
        </div>
        <div class="nodeWrapper">
            <more-element result="result5"></more-element>
            <node-element result="result5"></node-element>
        </div>
    </section>

    <div ng-include="'views/partials/control-panel.html'"></div>  
</section>
