<section id="search" ng-controller="SearchCtrl">
    <p>
        With this form you can make a testcall for a given search term:
    </p>
    <form id="search-form" action="" method="post">
        <input ng-model="searchTerm" type="text" name="search-term" value="" placeholder="Search term">
        <input ng-click="triggerSearch()" type="submit" name="submit-search" value="Search">
    </form>
    <textarea ng-model="searchResult" name="result-area" rows="5" cols="160" placeholder="The result will be shown here">
        {{searchResult}}
    </textarea>
    <div ng-include="'views/partials/control-panel.html'"></div>  
</section>
