<section id="search" ng-controller="SearchCtrl">
    <div id="loading-animation" ng-hide="loadingStopped">
        <img src="images/loading.gif" alt="Loading...">
    </div>
    
    <textarea ng-model="searchResult" name="result-area" rows="5" cols="160" placeholder="The result will be shown here">
        {{searchResult}}
    </textarea>

    <section class="nodeSection">
        <div class="nodeWrapper">
            <div class="nodeElement" nodeElement></div>
        </div>
        <div class="nodeWrapper">
            <div class="nodeElement" nodeElement></div>
        </div>
        <div class="nodeWrapper">
            <div class="nodeElement" nodeElement></div>
        </div>
        <div class="nodeWrapper">
            <div class="nodeElement" nodeElement></div>
        </div>
        <div class="nodeWrapper">
            <div class="nodeElement" nodeElement></div>
        </div>
    </section>

    <div ng-include="'views/partials/control-panel.html'"></div>  
</section>
